.container body{
    display: flex;
    flex-direction: column;
}

.container main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
}

p{

    background-color: greenyellow;
    width: 400px;
    padding: 10px;

}

aside{
    flex: 1;
    overflow-y: auto;
}

img{
    display: flex;
    width: 120px;
    height: 120px;
    background-color: skyblue;
    border-radius: 50%;
}